

.cabecalho{
    background-color: #0D0D0D;
    width: 100%;
    height: 140px;
    color: var(--colorSecundary) ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.cabecalho h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}
